@use "../abstracts" as *;

.photographer_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
  margin-top: 100px;
}

.photographer-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__portrait {
    height: 12.5rem;
    width: 12.5rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center 10%;
  }

  &__name {
    color: $secondary;
    font-size: 2.25rem;
    margin-top: 1.25rem;
  }

  &__location {
    color: $primary;
    font-size: 0.8125rem;
  }

  &__tagline {
    font-size: 0.625rem;
  }

  &__price {
    font-size: 0.5625rem;
    color: $grey3;
  }
}
