@use "../abstracts" as *;

main {
  padding: 0 6.25rem;
  //max-width: 1400px;
}

.photographer_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
  margin-top: 6.25rem;
}