@use "../abstracts" as *;

.photograph-header {
  background-color: $grey2;
  height: 19.5625rem;
  padding: 0 3.13rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__info, &__portrait {
    flex-grow: 1;
    flex-basis: 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1.19rem;
  }

  &__name {
    color: $secondary;
    font-size: 4rem;
    font-weight: 400;
  }

  &__location {
    color: $primary;
    font-size: 1.5rem;
  }

  &__tagline {
    color: $grey1;
    font-size: 1.125rem;
  }

  &__portrait {
    display: flex;
    justify-content: flex-end;
    img {
      width: 12.5rem;
      height: 12.5rem;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

.contact_button {
  font-size: 1.125rem;
  font-weight: 700;
  color: $white;
  padding: 1.44rem 1.12rem;
  min-width: 10.625rem;
  min-height: 4.3125rem;
  border: none;
  background-color: $primary;
  border-radius: 0.3125rem;
  cursor: pointer;

  &:hover {
    background-color: $secondary;
    color: $black;
  }
}

.media-filter {
  margin: 0.56rem 0 1.44rem 0;
  display: flex;
  gap: 1.56rem;
  align-items: center;
}

.media-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 6rem;
}

.photograph-additional-info {
  position: fixed;
  bottom: 0;
  right: 2.25rem;
  background: $secondary;
  display: flex;
  gap: 4.09rem;
  align-items: center;
  padding: 1.31rem 2.12rem 1.31rem 1.94rem;
  border-radius: 0.3125rem 0.3125rem 0 0;
  font-size: 1.5rem;
  font-weight: 500;
}