@use "../abstracts" as *;

.photograph-header {
  background-color: $grey2;
  height: 19.5625rem;
  padding: 0 3.13rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__info, &__portrait {
    flex-grow: 1;
    flex-basis: 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1.19rem;
  }

  &__name {
    color: $secondary;
    font-size: 4rem;
    font-weight: 400;
  }

  &__location {
    color: $primary;
    font-size: 1.5rem;
  }

  &__tagline {
    color: $grey1;
    font-size: 1.125rem;
  }

  &__portrait {
    display: flex;
    justify-content: flex-end;
    img {
      width: 12.5rem;
      height: 12.5rem;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

.contact_button {
  font-size: 1.125rem;
  font-weight: 700;
  color: $white;
  padding: 1.44rem 1.12rem;
  min-width: 10.625rem;
  min-height: 4.3125rem;
  border: none;
  background-color: $primary;
  border-radius: 0.3125rem;
  cursor: pointer;

  &:hover {
    background-color: $secondary;
    color: $black;
  }
}

.media-filter {
  margin: 0.56rem 0 1.44rem 0;
  display: flex;
  gap: 1.56rem;
  align-items: center;
}

.media-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 6rem;
}

.photograph-additional-info {
  position: fixed;
  bottom: 0;
  right: 2.25rem;
  background: $secondarySubtle;
  display: flex;
  gap: 4.09rem;
  align-items: center;
  padding: 1.31rem 2.12rem 1.31rem 1.94rem;
  border-radius: 0.3125rem 0.3125rem 0 0;
  font-size: 1.5rem;
  font-weight: 500;
}

/**
 * Listbox
 */
.listbox{
  min-width: 10.625rem;
  position: relative;

  &__selected {
    width: 100%;
    font-size: 1.125rem;
    font-weight: 700;
    padding: 1.25rem 1.44rem;
    border: none;
    border-radius: 0.3125rem;
    background-color: $primary;
    color: $white;
    cursor: pointer;
    box-sizing: border-box;

    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 1.44rem;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font: var(--fa-font-solid);
      content: "\f078";
    }
  }

  &__options {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color:$primary;
    border-radius: 0.3125rem;
    display: none;
    flex-direction: column;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  &__option {
    font-size: 1.125rem;
    font-weight: 700;
    padding: 1.25rem 1.44rem;
    border: none;
    color: $white;
    cursor: pointer;
    position: relative;

    &:not(:last-child)::after {
      content: "";
        display: block;
        height: 1px;
        background-color: $white;
      position: absolute;
        bottom: 0;
      left: 0.62rem;
      right: 0.62rem;
    }

    &:first-child {
      border-radius: 0.3125rem 0.3125rem 0 0;

      &::before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1.44rem;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font: var(--fa-font-solid);
        content: "\f077";
      }
    }

    &:last-child {
        border-radius: 0 0 0.3125rem 0.3125rem;
    }
  }
}