@use "../abstracts" as *;

body > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5.625rem;
  padding: 0 6.25rem;
}

h1 {
  color: $primary;
  font-size: 2.25rem;
  font-weight: 400;
}

.logo {
  height: 3.125rem;
}