/**
 * Colors
 */
html, body, p, h1, h2, h3, button {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

body {
  font-family: "DM Sans", sans-serif;
}

.carousel {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  z-index: 100;
  display: flex;
  align-items: center;
  padding: 0 6.25rem;
}
.carousel__controls {
  background: none;
  border: 0;
  width: 6rem;
  height: 6rem;
}
.carousel__controls i {
  color: #901C1C;
  font-size: 3rem;
}
.carousel__close-btn {
  position: absolute;
  top: 2.5rem;
  right: 6.25rem;
  background: none;
  border: 0;
  width: 6rem;
  height: 6rem;
}
.carousel__close-btn i {
  color: #901C1C;
  font-size: 3rem;
}
.carousel__content {
  flex: 1;
  position: relative;
  overflow: hidden;
  align-self: stretch;
  margin-top: 3.87rem;
}
.carousel__item {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.carousel__item img {
  flex: 1;
  object-fit: cover;
}
.carousel__item h3 {
  color: #901C1C;
  height: 3.12rem;
  font-size: 1.5rem;
  box-sizing: border-box;
  padding: 0.435rem 0;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.media-card {
  display: flex;
  flex-direction: column;
  gap: 0.62rem;
  min-width: 0;
}
.media-card__link img {
  width: 100%;
  aspect-ratio: 1.17/1;
  object-fit: cover;
  border-radius: 0.3125rem;
}
.media-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.media-card__title {
  color: #901C1C;
  font-size: 1.5rem;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.media-card__likes {
  color: #901C1C;
  font-size: 1.5rem;
  font-weight: 500;
  white-space: nowrap;
}

#contact_modal {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(196, 196, 196, 0.4);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #DB8876;
  border-radius: 0.3125rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0.94rem 1.25rem 2.37rem 2.19rem;
  box-shadow: -5px 10px 30px 0px rgba(0, 0, 0, 0.25);
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.19rem;
}
.modal__header h2 {
  font-size: 4rem;
  font-weight: 400;
}
.modal__body {
  display: flex;
  flex-direction: column;
  margin-right: 0.94rem;
}
.modal__body label {
  font-size: 2.25rem;
  font-weight: 400;
  color: #312E2E;
}
.modal__body input, .modal__body textarea {
  border: none;
  border-radius: 0.3125rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
}
.modal__body input {
  height: 4.25rem;
}
.modal__body button[type=submit] {
  margin-top: 1.63rem;
  align-self: flex-start;
}

#closeModalBtn {
  background: none;
  cursor: pointer;
  border: 0;
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.no-scroll {
  overflow: hidden;
}

.photographer-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographer-card__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
}
.photographer-card__link img {
  height: 12.5rem;
  width: 12.5rem;
  border-radius: 50%;
  object-fit: cover;
}
.photographer-card__link h2 {
  color: #D3573C;
  font-size: 2.25rem;
  font-weight: 400;
}
.photographer-card__location {
  color: #901C1C;
  font-size: 0.8125rem;
}
.photographer-card__tagline {
  font-size: 0.625rem;
}
.photographer-card__price {
  font-size: 0.5625rem;
  color: #757575;
}

body > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5.625rem;
  padding: 0 6.25rem;
}

h1 {
  color: #901C1C;
  font-size: 2.25rem;
  font-weight: 400;
}

.logo {
  height: 3.125rem;
}

main {
  padding: 0 6.25rem;
}

.photographer_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
  margin-top: 6.25rem;
}

.photograph-header {
  background-color: #FAFAFA;
  height: 19.5625rem;
  padding: 0 3.13rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.photograph-header__info, .photograph-header__portrait {
  flex-grow: 1;
  flex-basis: 0;
}
.photograph-header__info {
  display: flex;
  flex-direction: column;
  gap: 1.19rem;
}
.photograph-header__name {
  color: #D3573C;
  font-size: 4rem;
  font-weight: 400;
}
.photograph-header__location {
  color: #901C1C;
  font-size: 1.5rem;
}
.photograph-header__tagline {
  color: #525252;
  font-size: 1.125rem;
}
.photograph-header__portrait {
  display: flex;
  justify-content: flex-end;
}
.photograph-header__portrait img {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.contact_button {
  font-size: 1.125rem;
  font-weight: 700;
  color: #fff;
  padding: 1.44rem 1.12rem;
  min-width: 10.625rem;
  min-height: 4.3125rem;
  border: none;
  background-color: #901C1C;
  border-radius: 0.3125rem;
  cursor: pointer;
}
.contact_button:hover {
  background-color: #D3573C;
  color: #000;
}

.media-filter {
  margin: 0.56rem 0 1.44rem 0;
  display: flex;
  gap: 1.56rem;
  align-items: center;
}

.media-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 6rem;
}

.photograph-additional-info {
  position: fixed;
  bottom: 0;
  right: 2.25rem;
  background: #DB8876;
  display: flex;
  gap: 4.09rem;
  align-items: center;
  padding: 1.31rem 2.12rem 1.31rem 1.94rem;
  border-radius: 0.3125rem 0.3125rem 0 0;
  font-size: 1.5rem;
  font-weight: 500;
}

/*# sourceMappingURL=main.css.map */
